<div *ngIf="!character; else section" >
  <app-loaders>
  </app-loaders>
</div>

<ng-template #section>

  <div class="character-container">
    <div class="character-item">
      <div class="info">
        <img [src]="character.image" [alt]="character" class="character-img">
        <h4>{{character.name}}</h4>
      </div>
      <div class="details">
        <p>Episodios: {{character.name}}</p>
        <p>Status: {{character.status}}</p>
        <p>Species: {{character.species}}</p>
        <p>Gender: {{character.gender}}</p>
        <p>Origin: {{character.origin.name}}</p>
        <p>Last Location: {{character.location.name}}</p>
      </div>
    </div>
  </div>

</ng-template>
