<header class="header">
  <h1 class="title" routerLink="">
    RickAndMorty
  </h1>
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-list-item"  routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Character
      </li>
      <li class="nav-list-item" routerLinkActive="active"  routerLink="locations">
        Locations
      </li>
      <li class="nav-list-item" routerLinkActive="active" routerLink="episodes">
        Episodes
      </li>
    </ul>
  </nav>
</header>
