<div *ngIf="!episodes; else section" >
  <app-loaders>
  </app-loaders>
</div>

<ng-template #section>
<div class="container">
  <div class="card-container"  *ngFor="let episode of episodes">
    <div class="card-info">
      <img src="./assets/icons/id-card.png" width="50">
      <p>Name: {{episode.name}}</p>
    </div>
    <div class="card-info">
      <img src="./assets/icons/robin-hood.png" width="50">
      <p>Characters: {{episode.characters.length}}</p>
    </div>
    <div class="card-info">
      <img src="./assets/icons/chapter.png" width="50">
      <p>Episode: {{episode.episode}}</p>
    </div>
    <div class="card-info">
      <img src="./assets/icons/prototype.png" width="50">
      <p>{{episode.created}}</p>
    </div>
  </div>
</div>
</ng-template>
